html,
body,
#map-canvas {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.activated button {
  box-shadow: 0 2px gray;
  transform: translateY(1px);
}
#example_layer_control {
  display: none;
}
.layer_control.activated:hover .slider {
  display: block;
}

.slider {
  display: none;
  width: 90px;
}
button.layer_button {
  width: 100px;
}
