html,
body,
#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.activated button {
  box-shadow: 0 2px gray;
  transform: translateY(1px);
}
#example_layer_control {
  display: none;
}
.layer_control.activated:hover .slider {
  display: block;
}

.slider {
  display: none;
  width: 90px;
}

.layer_button {
  min-width: 90px;
}

.map_container {
  width: 80vw;
  height: 80vh;
  padding-top: 24px;
}
